<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title></title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %}" rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <section id="topbar" class="topbar d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
      <div class="contact-info d-flex align-items-center">
        <i class="bi bi-envelope d-flex align-items-center"><a
            href="mailto:Impact@Impact.com">Impact@Impact.com</a></i>
        <i class="bi bi-phone d-flex align-items-center ms-4"><span>+967</span></i>
      </div>
      <div class="social-links d-none d-md-flex align-items-center">
        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </section><!-- End Top Bar -->


  <main id="main">


  
   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <center><h2>reports</h2></center>
          <p></p>
        </div>

        <div class="row gx-lg-0 gy-4 justify-content-center">


          <div class="col-lg-4 justify-content-center">
            
             
              <div class="form-group mt-3">

                {% for Farmdata in details %}
              
                <table style="width:100%">
                  
                  <th>{{Farmdata.category.name}}</th> 
                  <tr>
                    <th></th>
                    <th>lass</th> 
                    <th>more</th>
                    <th>values</th>
                    <th>message</th>
                    
                   
                  </tr>
                  <tr>
                    {% for cate in categorys %}
                {% comment %} {% for Farmdata in details %} {% endcomment %}
                    {% if Farmdata.category.id == cate.id%}
                    <th>water tomperatatur</th>

                    <td>{{cate.water_tomperatatur_lowest}}</td>

                    <td>{{cate.water_tomperatatur_ighest}}</td>

                    <td>{{Farmdata.water_tomperatatur}}</td>
                    {% if Farmdata.water_tomperatatur <= cate.water_tomperatatur_lowest%}
                     <td>{{cate.effect_water_tomperatatur}}</td> 
                  
                    {% elif  Farmdata.water_tomperatatur >= cate.water_tomperatatur_ighest%}

                    <td>{{cate.effect_water_tomperatatur}}</td>
                    {% elif  Farmdata.water_tomperatatur is none or cate.water_tomperatatur_ighest is none or cate.water_tomperatatur_lowest   %}
                    <td>Null</td>
                    {% else %}
                    <td>normal</td>
                    {% endif %}
                    {% endif %}

                    {% endfor %}
                  </tr>
                 
                  <tr>
                  <tr>
                    {% for cate in categorys %}
                {% comment %} {% for Farmdata in details %} {% endcomment %}
                    {% if Farmdata.category.id == cate.id%}
                    <th>humidity soil</th>

                    <td>{{cate.humidity_soil_lowest}}</td>

                    <td>{{cate.humidity_soil_highest}}</td>

                    <td>{{Farmdata.humidity_soil}}</td>
                    {% if Farmdata.humidity_soil <= cate.humidity_soil_lowest%}
                    <td>{{cate.effect_of_soil_humidity}}</td>
                    <td><p></td>
                    {% elif  Farmdata.humidity_soil >= cate.humidity_soil_highest%}

                    <td>{{Farmdata.humidity_soil}}</td>
                    {% elif  Farmdata.humidity_soil is none or cate.humidity_soil_highest is none or cate.humidity_soil_lowest   %}
                    <td>Null</td>
                    {% else %}
                    <td>normal</td>
                    {% endif %}
                    {% endif %}

                    {% endfor %}
                  </tr>
                 
                  <tr>
                    {% for cate in categorys %}
                {% comment %} {% for Farmdata in details %} {% endcomment %}
                    {% if Farmdata.category.id == cate.id%}
                    <th>humidity weather</th>

                    <td>{{cate.humidity_weather_lowest}}</td>

                    <td>{{cate.humidity_weather_highest}}</td>

                    <td>{{Farmdata.humidity_weather}}</td>
                    {% if Farmdata.humidity_weather <= cate.humidity_weather_lowest%}
                    <td>{{cate.effect_of_weather_humidity}}</td>
                
                    {% elif  Farmdata.humidity_weather >= cate.humidity_weather_highest%}

                    <td>{{Farmdata.humidity_weather}}</td>
                    {% elif  Farmdata.humidity_weather is none or cate.humidity_weather_highest is none or cate.humidity_weather_lowest   %}
                    <td>Null</td>
                    {% else %}
                    <td>normal</td>
                    {% endif %}
                    {% endif %}

                    {% endfor %}
                  </tr>




                  <tr>
                    {% for cate in categorys %}
                {% comment %} {% for Farmdata in details %} {% endcomment %}
                    {% if Farmdata.category.id == cate.id%}
                    <th>illumination</th>

                    <td>{{cate.illumination_lowest}}</td>

                    <td>{{cate.illumination_highest}}</td>

                    <td>{{Farmdata.illumination}}</td>
                    {% if Farmdata.illumination <= cate.illumination_lowest%}
                    <td>{{cate.effect_of_illumination}}</td>
                   
                    {% elif  Farmdata.illumination >= cate.illumination_highest%}

                    <td>{{Farmdata.illumination}}</td>
                    {% elif  Farmdata.illumination is none or cate.illumination_highest is none or cate.illumination_lowest   %}
                    <td>Null</td>
                    {% else %}
                    <td>normal</td>
                    {% endif %}
                    {% endif %}

                    {% endfor %}
                  </tr>

                  <tr>
                    {% for cate in categorys %}
                {% comment %} {% for Farmdata in details %} {% endcomment %}
                    {% if Farmdata.category.id == cate.id%}
                    <th>atmospheric pressure</th>

                    <td>{{cate.atmospheric_pressure_lowest}}</td>

                    <td>{{cate.atmospheric_pressure_highest}}</td>

                    <td>{{Farmdata.atmospheric_pressure}}</td>
                    {% if Farmdata.atmospheric_pressure <= cate.atmospheric_pressure_lowest%}
                    <td>{{cate.effect_of_atmospheric_pressure}}</td>
                    
                    {% elif  Farmdata.atmospheric_pressure >= cate.atmospheric_pressure_highest%}

                    <td>{{Farmdata.atmospheric_pressure}}</td>
                    {% elif  Farmdata.atmospheric_pressure is none or cate.atmospheric_pressure_highest is none or cate.atmospheric_pressure_lowest   %}
                    <td>Null</td>
                    {% else %}
                    <td>normal</td>
                    {% endif %}
                    {% endif %}

                    {% endfor %}
                  </tr>
                  
                </table>

                {% endfor %}

            
               <div>

        


    
            
              
              {% comment %} <div class="text-center"><button type="submit">Register</button></div> {% endcomment %}
            
          </div><!-- End Contact Form -->

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->



  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>